<br>
<br>
<h3><center>
Login name:
  <%= @user.name %>
</h3></center> 
 

<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>
 -->
<!-- <p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->



