<br>
<br>
<div class="row">
<div class="small-5 small-centered columns">


<h3>INFORMATION</h3>

<div class="info">
<h6><font color="white">WHAT WE DO IS an EVENT APP! </br>  </br>GENERAL USES</br>
* FIND EVENTS!</br>
* POST YOUR EVENTS!</br>
* USE FOR PUBLIC OR PRIVATE EVENTS</br>
* ARCHIVE PAST EVENT POSTERS!</br> </br>
 </h6></font>


<h6><font color="white">THIS APP IS<br>
 * FREE AND OPEN<br>
 * RESPECTS YOUR PRIVACY<br>
 * DOES NOT COLLECT OR SELL YOUR DATA</br> * MOBILE FOCUSED (works on desktop too)!</h6></font>
 

<h6><font color="white"> </br> xx NO SIGN IN FOR GENERAL USE xx </br>
SIGN IN TO SAVE YOUR LIST OF EVENTS </h6></font>


<h6><font color="white"> </br> BETA VERSION : Launch to include</br>  - CURATED EVENT FEEDS</br> - COMMENTS</br> - PRIVATE EVENTS</br>- More!</br></h6></font>


</div>
</div>