/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require select2
 */
h1 {
   color: white;
}
h3{
  color: white;
}


.name {
  color: white;
 }

.top-bar-section {
  color: white;
}

.titles {
   text-align: center;
   color: white;
}

.hidden{
  display: none
}

.icon-bar {
    color: white;
    font-size: 5px;
}

li {
  color: white !important;
}

.label {
  color: white;
  }


.info{
	color: white;

}

.container1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cube1 {
    width: 80%; 
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}


.container2 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.cube2 {
    width: 45%; 
    height: 45%;
    margin-left: auto;
    margin-right: auto;
}

.container3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cube3 {
    width: 40%; 
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

.container4 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.cube4 {
    width: 95%; 
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}


.column.small-centered {
margin-left: auto;
margin-right: auto;
float: none !important; }

.column.large-centered{
    color: white;
}
